[submodule "src/dbg/btparser"]
	path = src/dbg/btparser
	url = ../../x64dbg/btparser
[submodule "deps"]
	path = deps
	url = ../../x64dbg/deps
	shallow = true
[submodule "src/third_party/TitanEngine"]
	path = src/third_party/TitanEngine
	url = https://github.com/colby57/TitanEngine.git
[submodule "src/third_party/GleeBug"]
	path = src/third_party/GleeBug
	url = ../../x64dbg/GleeBug
